
<div class="page-container" [ngClass]="{'active': active}">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
    <div class="breadcrumb-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <cma-breadcrumb fxFlex [items]="breadCrumbItems"></cma-breadcrumb>
      <div class="settings" fxFlex="100px" fxLayout="row" fxLayoutAlign="end center">
        <i pTooltip="Refresh" tooltipPosition="top" class="pi pi-refresh"></i>
        <i pTooltip="Actions" tooltipPosition="top" (click)="menu.toggle($event)" class="pi pi-cog"></i>
        <p-menu #menu [popup]="true" [model]="settingItems"></p-menu>
      </div>
    </div>
    <div class="panel-actions" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <cma-input-search fxFlex="70"></cma-input-search>
        <cma-multi-select fxFlex></cma-multi-select>
      </div>
      <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
    </div>
    <cma-dashboard-on-boarding-panel></cma-dashboard-on-boarding-panel>
  </div>
</div>

