@import "src/styleguide/index";
:host {
  width: 100%;
}
.sel-chk {
  padding: 0 3px;
}
.document-thumb {
  font-size: 12px;
  border: thin $color-gray-2 solid;
  border-radius: 2px;
  background-color: $color-gray-3;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  img {
    width: 25px;
    height: 25px;
  }
}
.content {
  width: 100%;
  > div {
    &:first-child {
      margin-bottom: 0 !important;
    }
    width: 100%;
    > div {
      &:nth-child(2) {
        padding-left: 5px;
      }
    }
  }
}
:host ::ng-deep {
  .mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .next-status {
    font-weight: bold;
    color: $color-black-1;
  }
  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background: rgba(0,0,0,.04);
  } 
  .p-button {
    padding: 10px;
    font-size: 12px;
  }
  .p-button.p-button-rounded {
    min-width: 120px;
  }
  mat-expansion-panel.mat-expanded {
    border-left: 2px $color-gray-blue solid;
  }
  .mat-expansion-panel-header {
    padding: 20px 20px 20px 10px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 0;
  }
  .mat-expansion-panel-header-title {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    span.name {
      font-weight: 500;
    }
  }
  .mat-expansion-panel-body {
    background-color: $color-gray-4;
    padding: 15px 20px 20px 20px;
    border-top: thin $color-gray-3 solid;
    > div {
      width: 100%;
    }
  }
  mat-panel-description div {
    width: 100%;
  }
}