.mat-expansion-panel-header.mat-expanded:hover {
  background-color: $color-white !important;
}
.mat-expansion-panel-header:hover {
  background-color: $color-gray-4 !important;
}
.mat-expansion-panel-header:focus {
  background-color: $color-white !important;
}