
@import "src/styleguide/index";
:host {
  width: 100%;
}
.document-container {
  width: 100%;
}
.document-thumb {
  font-size: 12px;
  border: thin $color-gray-2 solid;
  border-radius: 2px;
  background-color: $color-gray-3;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  img {
    width: 25px;
    height: 25px;
  }
}
.document-content {
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  > div {
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
  }
  .pi {
    font-size: 1.4rem;
  }
}
.document-container {
  margin-bottom: 0 !important;
}
.upload-thumb {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
  margin-right: 20px;
  max-width: 120px;
  width: 120px;
  text-align: center;
  margin-bottom: 0;
  > div {
    height: 100px;
    width: 100px;
    border: thin $color-gray-2 dashed;
    border-radius: 2px;
    background-color: $color-gray-3;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
  }
  span {
    font-size: 12px;
    color: $color-black-3;
  }
  span.label {
    color: $color-black-1;
  }
  img {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
  }
}