<div [formGroup]="form" class="dialog-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px" novalidate>
  <div class="header" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">Add Vehicle</div>
    <div fxFlex="25px" fxLayout="row" fxLayoutAlign="end center"><i class="pi pi-times" (click)="dialogRef.close()"></i></div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" class="content" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
      <cma-input [form]="form" controlName="model" fxFlex label="Model" placeholder="Model"></cma-input>

      <cma-input [form]="form" controlName="make" fxFlex label="Make" placeholder="Make"></cma-input>
      <cma-input [form]="form" controlName="plateNo" fxFlex label="Plate No" placeholder="Plate No"></cma-input>
    </div>
  </div>

  <div class="btn-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button [disabled]="!form.valid" pButton pRipple [label]="getBtnText" class="btn-add primary" (click)="onAddUpdate()"></button>
    <button pButton pRipple label="Cancel" class="btn-add default" (click)="dialogRef.close()"></button>
  </div>
</div>