<div [formGroup]="form" fxLayout="column" fxLayoutAlign="start start">
  <label>{{ label }}</label>
  <p-dropdown appendTo="body" [options]="options" [formControlName]="controlName" optionLabel="label" [showClear]="true" [placeholder]="placeholder">
    <ng-template pTemplate="selectedItem">
      <div>
        <div>{{form.get(controlName)?.value?.label}}</div>
      </div>
    </ng-template>
    <ng-template let-option pTemplate="item">
      <div class="option-item">
        <div>{{option?.label}}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>