@import "src/styleguide/index";
:host {
  width: 100%;
}
.detail {
  width: 100%;
  > div {
    width: 100%;
  }
  .detail-text {
    font-size: 12px;
    font-weight: 500;
    height: 15px;
  }
  .pi-thumb {
    margin-right: 20px;
    > div {
      border-bottom: thin $color-gray-3 solid;
      height: 35px;
      padding-bottom: 5px;
      span {
        &:nth-child(1) {
          font-weight: 500;
          font-size: 14px;
          color: $color-black-3;
        }
        &:nth-child(2) {
          font-weight: 400;
          font-size: 14px;
          color: $color-black-1;
        }
      }
    }
  }
}