<div class="thumb-container" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <!-- unit information -->
  <div class="detail" fxLayout="column" fxLayoutAlign="start start">
    <div class="detail-text" fxLayout="row" fxLayoutAlign="start center">Unit Information</div>
    <div>
      <div class="pi-thumb">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Unit Owner:</span>
          <span>Rey Fuertes</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Building No:</span>
          <span>Building 9</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Unit No:</span>
          <span>9622</span>
        </div>
      </div>
    </div>
  </div>

  <!-- service information -->
  <div class="detail" fxLayout="column" fxLayoutAlign="start start">
    <div class="detail-text" fxLayout="row" fxLayoutAlign="start center">Service Information</div>
    <div>
      <div class="pi-thumb">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Service Person:</span>
          <span>John Doe</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Service Name:</span>
          <span>John Aircon Repair</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Contact No:</span>
          <span>0956422145</span>
        </div>
      </div>
    </div>
  </div>

  <div class="detail" fxLayout="column" fxLayoutAlign="start start">
    <div class="detail-text" fxLayout="row" fxLayoutAlign="start center"></div>
    <div>
      <div class="pi-thumb">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Uploaded File:</span>
          <span class="link">driverlicensed_1234.png</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Crew Count:</span>
          <span>2</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Repair Date:</span>
          <span>06/20/2021 - 07/21/2021</span>
        </div>
      </div>
    </div>
  </div>
</div>