@import "src/styleguide/index";
:host {
  @include onboarding-host-start ;
  place-content: flex-center !important;
  margin-bottom: 150px;
}
.header-content {
  padding-bottom: 5px;
  > div {
    width: 100%;
  }
}
.spouse-container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  box-shadow: $box-shadow;
  background-color: $color-white;
  max-width: 815px;
  max-height: 695px;
}
.content {
  margin-bottom: 20px;
  overflow: hidden;
  height: 100%;
  max-width: 800px;
}
.content-spouse {
  h5 {
    margin: 0 0 14px 0;
  }
  height: auto;
  min-width: 650px;
  padding-left: 10px;
  padding-top: 15px;
}
.action-btns {
  margin-top: 20px;
  border-top: thin #f1f1f1 solid;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 100%;
}
:host ::ng-deep {
  .header-content .p-dropdown {
    width: 200px !important;
  }
  .filename {
    max-width: 160px;
  }
  cma-upload {
    min-width: 210px;
    max-width: 210px;
  }
  cma-input, cma-dropdown, cma-datepicker, cma-upload {
    margin-bottom: 15px;
    min-width: 210px;
    max-width: 210px;
  }
  p-dropdown.dropdown .p-dropdown {
    width: 195px;
  }
}
@media (max-width: 1280px) {
  .spouse-container {
    max-width: 100%;
    padding: 20px 20px;
    max-width: 850px;
  }
  .header-content {
    padding-bottom: 20px;
    margin: 0 !important;
  }
  .content {
    padding-top: 20px;
    width: 100%;
  }
  .content-spouse {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    max-width: 845px;
  }
  h2 {
    margin-bottom: 10px !important;
  }
  h5 {
    font-size: 12px;
  }
  .action-btns {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .content {
    height: auto;
  }
}
@media (max-width: 768px) {
  .content {
    height: auto;
    width: 620px;
    overflow: hidden;
  }
}