@import "src/styleguide/index";
.page-container {
  @include page-container;
}
:host ::ng-deep {
  .dashboard-page-container {
    background-color: $color-white-1;
    height: auto;

    cma-dashboard-on-boarding,
    cma-dashboard-requests,
    cma-dashboard-homeowners,
    cma-dashboard-payments,
    cma-dashboard-documents {
      padding: 10px 30px 30px 30px;
    }
  }
}
