<div class="detail-container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <h2>Unit Detail</h2>

  <div class="header-content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <div class="w-100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <cma-dropdown-search [options]="buildingNoOptions" placeholder="Building"></cma-dropdown-search>
      <cma-dropdown-search [options]="unitNoOptions" placeholder="Unit #"></cma-dropdown-search>
      <cma-dropdown-search [options]="parkingNoOptions" placeholder="Parking Slot"></cma-dropdown-search>
    </div>
    <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
      <cma-select-option [options]="options" [selectedItem]="selectedOccupantType"></cma-select-option>
    </div>
  </div>

  <div class="content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <!-- personal information -->
    <div class="content-personal" fxLayout="column" fxLayoutAlign="start start">
      <h5>Personal Information</h5>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="25px">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px">
          <cma-input label="Lastname"></cma-input>
          <cma-input label="Firstname"></cma-input>
          <cma-input label="Middlename"></cma-input>

          <cma-input label="Citizenship"></cma-input>
          <cma-dropdown [options]="genderOptions" placeholder="Gender"></cma-dropdown>
          <cma-dropdown [options]="civilOptions" placeholder="Civil Status"></cma-dropdown>

          <cma-input label="Date of Birth"></cma-input>
          <cma-input label="Occupation"></cma-input>
          <cma-input label="TIN"></cma-input>

          <cma-dropdown [options]="IdTypeOptions" placeholder="ID Type"></cma-dropdown>
          <cma-input label="ID No."></cma-input>
          <cma-input label="Upload"></cma-input>
        </div>
      </div>
    </div>

    <!-- spouse information -->
    <div class="content-personal" fxLayout="column" fxLayoutAlign="start start">
      <h5>Spouse Information</h5>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="25px">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px">
          <cma-input label="Lastname"></cma-input>
          <cma-input label="Firstname"></cma-input>
          <cma-input label="Middlename"></cma-input>
          <cma-input label="Contact No."></cma-input>

          <cma-input label="Email Add"></cma-input>
          <cma-input label="Citizenship"></cma-input>

          <cma-input label="Occupation"></cma-input>
          <cma-input label="Bus. Address"></cma-input>
          <cma-input label="Bus. Contact No."></cma-input>
          
          <cma-input label="Bus. Email"></cma-input>
          <cma-dropdown [options]="IdTypeOptions" placeholder="ID Type"></cma-dropdown>
          <cma-input label="ID No."></cma-input>
          <cma-input label="Upload"></cma-input>
        </div>
      </div>
    </div>
  </div>

  <div class="action-btns" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button pButton pRipple type="button" routerLink="/on-boarding/type" label="Previous" class="p-button-rounded p-button-secondary"></button>
    <button pButton pRipple type="button" routerLink="/on-boarding/upload" label="Next" class="p-button-rounded"></button>
  </div>
</div>