@import "src/styleguide/index";
:host ::ng-deep {
  .p-multiselect .p-multiselect-label.p-placeholder {
    color: $color-gray-2;
  }
  .p-multiselect-label-container {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .p-multiselect .p-multiselect-label {
    padding: 7px;
    font-size: 14px;
  }
  .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    font-size: 14px;
  }
  .p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
    padding: 2px 5px;
  }
}
