.chip-approved .p-chip {
  background-color: $color-green-1;
  border-color: $color-green-1;
  color: $color-white;
}
.chip-orientation .p-chip {
  background-color: $color-blue;
  border-color: $color-green;
  color: $color-white;
}
.chip-move-in .p-chip {
  background-color: $color-orange;
  border-color: $color-orange;
  color: $color-white;
}
.p-chip {
  opacity: 0.8;
  .p-chip-text {
    font-size: 12px;
    opacity: 1 !important;
  }
}