.p-datepicker table td > span {
  width: 1.5rem !important;
  height: 1.5rem !important;
}
p-calendar, cma-datepicker {
  min-width: 100%;
  width: 100%;
}
.p-datepicker .p-datepicker-buttonbar {
  padding: 0;
}