.p-dropdown {
  height: 35px;
  max-height: 35px;
  min-height: 35px;
  min-width: 190px;
  width: 190px;
  .p-dropdown-label {
    font-size: 14px;
    height: 34px;
  }
}
p-dropdown {
  min-width: 190px;
  width: 190px;
}
.p-dropdown-item {
  font-size: 14px;
}