@import "src/styleguide/index";
:host {
  width: 100%;
}
.topnav-container {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
}
.user-panel {
  border-radius: 0;
  background-color: $color-gray-blue;
  border: thin $color-gray-blue solid;
  max-height: 50px;
  min-height: 50px;
  height: 50px;
  padding-right: 15px;
  .pi {
    color: $color-white;
    cursor: pointer;
  }
  span {
    color: $color-white;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      color: $color-gray-3 !important;
    }
  }
  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
::ng-deep {
  .p-overlaypanel {
    top: 51px;
  }
  .p-overlaypanel:after, .p-overlaypanel:before {
    margin-left: -19px !important;
  }
  .p-overlaypanel:after {
    margin-left: -18px !important;
  }
}
.menus {
  background-color: $color-gray-blue;
  color: $color-white;
  height: 50px;
  padding-left: 30px;
  .menu-item {
    cursor: pointer;
    height: 50px;
    padding: 0 10px;
    font-size: 14px;
    div, i {
      color: $color-gray-2;
    }
    .pi {
      margin-bottom: 3px;
    }
    &.is-active > div, &.is-active > i {
      color: $color-white !important;
    }
    &:hover {
      color: $color-gray-3 !important;
    }
  }
}
.underlined {
  height: 3px;
  background-color: transparent;
  position: relative;
  top: -2px;
}
.is-active ~ .underlined {
  background-color: $color-gray-3 !important;
}
:host ::ng-deep {
  .p-badge {
    font-size: 0.7rem;
    height: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
  }
  .payments, .requests, .homeowners, .onboarding {
    &:nth-child(3) {
      border-bottom: 2px $color-gray-3 solid;
    }
  }
  .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link {
    border-radius: 2px;
  }
  .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link:focus {
    box-shadow: none;
  }
  .p-megamenu {
    border-radius: 0;
    background-color: $color-gray-blue;
    border:thin $color-gray-blue solid;
  }
  .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: $color-white;
  }
  .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
    color: $color-white;
  }
}
