<div class="personal-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <h2>Personal Information</h2>

  <div class="header-content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <cma-dropdown-search [form]="form" controlName="buildingNo" [options]="buildingNoOptions" placeholder="Building"></cma-dropdown-search>
      <cma-dropdown-search [form]="form" controlName="unitNo" [options]="unitNoOptions" placeholder="Unit #"></cma-dropdown-search>
      <cma-dropdown-search [form]="form" controlName="parkingSlot" [options]="parkingNoOptions" placeholder="Parking Slot"></cma-dropdown-search>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <cma-select-option [form]="form" controlName="occupantType" [options]="occupantOptions"></cma-select-option>
    </div>
  </div>

  <div class="content-personal" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
      <cma-input [form]="form" controlName="lastname" label="Lastname"></cma-input>
      <cma-input [form]="form" controlName="firstname" label="Firstname"></cma-input>
      <cma-input [form]="form" controlName="middlename" label="Middlename"></cma-input>

      <cma-input [form]="form" controlName="citizenship" label="Citizenship"></cma-input>
      <cma-dropdown [form]="form" controlName="gender" [options]="genderOptions" label="Gender" placeholder="Gender"></cma-dropdown>
      <cma-dropdown [form]="form" controlName="civilStatus" [options]="civilOptions" label="Civil Status" placeholder="Civil Status"></cma-dropdown>

      <cma-datepicker [form]="form" controlName="dateOfBirth" label="Date of Birth" placeholder="Date of Birth"></cma-datepicker>
      <cma-input [form]="form" controlName="occupation" label="Occupation"></cma-input>
      <cma-input [form]="form" controlName="tin" label="TIN"></cma-input>

      <cma-input [form]="form" controlName="busAddress" label="Bus. Address"></cma-input>
      <cma-input [form]="form" controlName="busContactNo" label="Bus. Contact No."></cma-input>
      <cma-input [form]="form" controlName="busEmail" label="Bus. Email"></cma-input>

      <cma-dropdown [form]="form" controlName="idType" label="ID Type" [options]="IdTypeOptions" placeholder="ID Type"></cma-dropdown>
      <cma-input [form]="form" controlName="idNo" label="ID No."></cma-input>
      <cma-upload [preview]="getPersonalUploadedFilePreview" (fileEmitter)="onPersonalImageChange($event)" [fileName]="getImagePreview('uploadedIdFile')"></cma-upload>
    </div>
  </div>


  <div class="action-btns" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button pButton pRipple type="button" (click)="onPrev()" label="Previous" class="p-button-rounded default"></button>
    <button [disabled]="!form.valid" pButton pRipple type="button" (click)="onNext()" label="Next" class="p-button-rounded success"></button>
  </div>
</div>