
@import "src/styleguide/index";
:host {
  @include onboarding-host-start ;
  place-content: center !important;
}
.for-approval-container {
  margin-top: 50px;
  width: 900px;
  height: 500px;
  box-shadow: $box-shadow;
  background-color: $color-white;
  margin: 0 auto;
  min-width: 900px !important;
  max-width: 900px !important;
}
img {
  height: 150px;
}