<!-- personal information -->
<div *ngIf="item" class="content-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div>
    <div class="content-title" fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex>Personal Information</div>

      <div fxFlex="155px" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <div class="actions-btns" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
          <span class="p-buttonset" styleClass="p-button-sm">
            <button (click)="onApprove(item)" styleClass="p-button-sm" tooltipPosition="left" pTooltip="Approve" pButton pRipple class="btn-done success" icon="pi pi-check"></button>
            <button type="button" (click)="onEdit(item?.id)" styleClass="p-button-sm" tooltipPosition="top" pTooltip="Edit" pButton pRipple class="btn-edit default" icon="pi pi-pencil"></button>
            <button type="button" (click)="onArchived(item)" styleClass="p-button-sm" tooltipPosition="top" pTooltip="Archive" pButton pRipple class="btn-edit default" icon="pi pi-folder-open
            "></button>
            <button (click)="onDelete(item)" styleClass="p-button-sm" tooltipPosition="top" pTooltip="Remove" pButton pRipple class="btn-remove danger" icon="pi pi-trash"></button>
          </span>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
      <div class="pi-thumb" fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Lastname:</span>
          <span>{{ item?.personal?.lastname }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Firstname:</span>
          <span>{{ item?.personal?.firstname }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Middlename:</span>
          <span>{{ item?.personal?.middlename }}</span>
        </div>
      </div>

      <div class="pi-thumb" fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Citizenship:</span>
          <span>{{ item?.personal?.citizenship }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Gender:</span>
          <span>{{ item?.personal?.gender }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Marital Status:</span>
          <span>{{ item?.personal?.civilStatus }}</span>
        </div>
      </div>

      <div class="pi-thumb" fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Date of Birth:</span>
          <span>{{ item?.personal?.dateOfBirth }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Occupation:</span>
          <span>{{ item?.personal?.occupation }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Contact No.:</span>
          <span>{{ item?.personal?.contractNo }}</span>
        </div>
      </div>

      <div class="pi-thumb" fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>ID Type:</span>
          <span>{{ item?.personal?.idType }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>ID No.:</span>
          <span>{{ item?.personal?.idNo }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Uploaded File:</span>
          <span class="link">{{ item?.personal?.uploadedIdFile }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- spouse information -->
  <div>
    <div class="content-title">Spouse Information</div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
      <div class="pi-thumb" fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Lastname:</span>
          <span>{{ item?.spouse?.lastname }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Firstname:</span>
          <span>{{ item?.spouse?.firstname }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Middlename:</span>
          <span>{{ item?.spouse?.middlename }}</span>
        </div>
      </div>

      <div class="pi-thumb" fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Citizenship:</span>
          <span>{{ item?.spouse?.citizenship }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Gender:</span>
          <span>{{ item?.spouse?.gender }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Marital Status:</span>
          <span>{{ item?.spouse?.civilStatus }}</span>
        </div>
      </div>

      <div class="pi-thumb" fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Date of Birth:</span>
          <span>{{ item?.spouse?.dateOfBirth }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Occupation:</span>
          <span>{{ item?.spouse?.occupation }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Contact No.:</span>
          <span>{{ item?.spouse?.contractNo }}</span>
        </div>
      </div>

      <div class="pi-thumb" fxFlex="30">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>ID Type:</span>
          <span>{{ item?.spouse?.idType }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>ID No.:</span>
          <span>{{ item?.spouse?.idNo }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="5px">
          <span>Uploaded File:</span>
          <span class="link">{{ item?.spouse?.uploadedIdFile }}</span>
        </div>
      </div>
    </div>
  </div>
</div>