@import "src/styleguide/index";

.login-container {
  height: 100vh;
  img {
    height: 100px;
    width: auto;
    margin-bottom: 30px;
  }
}
.remember-me {
  font-size: 12px;
  color: $color-gray-1;
  width: 250px;
  span {
    cursor: pointer;
  }
}
:host ::ng-deep {
  input {
    width: 250px;
    &:focus ~ label {
      left: 0;
    }
  }
  .p-button {
    width: 250px;
  }
  .mat-card {
    height: 450px;
    width: 550px;
    margin-bottom: 150px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    > div {
      height: 200px;
    }
  }
}
