<div class="page-container" [ngClass]="{'active': active}">
  <div>
    <div class="header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div fxFlex>Name</div>
      <div fxFlex="25">Contact No.</div>
      <div fxFlex="20">Unit No.</div>
      <div fxFlex="20">Created date</div>
    </div>
    <div *ngIf="($homeowners | async) as homeowner" fxLayout="column" fxLayoutAlign="start start">
      <ng-container *ngFor="let homeowner of homeowner; let i = index">
        <div class="detail" [ngClass]="{'active-row': collapsedIndex === i}" fxLayout="row" fxLayoutAlign="start center" (click)="toggle(i)">
          <div fxFlex>{{ homeowner?.personal?.firstname }} {{ homeowner?.personal?.lastname }}</div>
          <div fxFlex="25">{{ homeowner?.personal?.contactNo }}</div>
          <div fxFlex="20">{{ homeowner?.personal?.unitNo }}</div>
          <div fxFlex="20">{{ homeowner?.created_at | date :'dd-MM-yyyy' }}</div>
        </div>
        <div class="collapsible" [@collapse]="collapsedIndex !== i">
          <mat-tab-group [(selectedIndex)]="selectedTabIndex">
            <mat-tab label="Personal Information">
              <!-- <cma-dashboard-homeowners-detail [personal]="homeowner?.personal"></cma-dashboard-homeowners-detail> -->
            </mat-tab>
            <mat-tab label="Occupants">
              <cma-dashboard-homeowners-occupant [homeownerId]="homeowner?.id"></cma-dashboard-homeowners-occupant>
            </mat-tab>
            <mat-tab label="Vehicles">
              <!-- <cma-dashboard-homeowners-vehicle [homeownerId]="homeowner?.id"></cma-dashboard-homeowners-vehicle> -->
            </mat-tab>
            <mat-tab label="Documents">
              <!-- <cma-dashboard-homeowners-document [documents]="homeowner?.documents"></cma-dashboard-homeowners-document> -->
            </mat-tab>
            <mat-tab label="Tenants">
              <cma-dashboard-homeowners-tenant></cma-dashboard-homeowners-tenant>
            </mat-tab>
          </mat-tab-group>
        </div>

      </ng-container>
    </div>
  </div>
</div>