<div class="page-container" [ngClass]="{'active': active}">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let boarder of homeowners; let i = index" [expanded]="i === 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <img [src]="imgPath + 'sample-profile-pic.png'" />
            <span class="name">{{ boarder?.name }}</span>
          </div>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="noselect" fxLayout="row" fxLayoutAlign="start start">
        <div class="content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
          <mat-tab-group>
            <mat-tab label="Personal Information">
              <cma-dashboard-homeowners-info></cma-dashboard-homeowners-info>
            </mat-tab>
            <mat-tab label="Occupants">
            </mat-tab>
            <mat-tab label="Vehicles">
            </mat-tab>
            <mat-tab label="Documents">
              <cma-dashboard-homeowners-document></cma-dashboard-homeowners-document>
            </mat-tab>
            <mat-tab label="Tenants">
              <cma-dashboard-homeowners-tenant></cma-dashboard-homeowners-tenant>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div></div>
      </div>

      <div class="btn-actions" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <i pTooltip="Edit" tooltipPosition="left" class="pi pi-pencil"></i>
        <i pTooltip="Remove" tooltipPosition="right" class="pi pi-trash"></i>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>