@import "src/styleguide/index";
.page-container {
  @include page-container;
}
:host {
  width: 100%;
}
.content {
  width: 100%;
  min-height: 200px;
  > div {
    &:first-child {
      margin-bottom: 0 !important;
    }
    width: 100%;
    > div {
      &:nth-child(2) {
        padding-left: 5px;
      }
    }
  }
}
img {
  height: 25px;
  width: 25px;
}
.btn-actions {
  cursor: pointer;
  height: 40px;
  background-color: $color-gray-4;
  border-top: thin $color-gray-3 solid;
  .pi {
    font-size: 0.9rem;
    color: $color-gray-2;
    &:hover {
      color: $color-black-0;
    }
  }
}
:host ::ng-deep {
  .mat-tab-body-wrapper {
    min-height: 200px;
  }
  .mat-tab-body-content {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .mat-tab-group {
    width: 100%;
    padding: 0 30px;
  }
  .mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .next-status {
    font-weight: bold;
    color: $color-black-1;
  }
  .p-timeline-event {
    &:nth-child(1) {
      .p-timeline-event-marker {
        border: 2px solid $color-green-3;
        background-color: $color-green-3;
      }
    }
    &:not(:nth-child(1)) {
      .p-timeline-event-marker {
        border: 2px solid $color-gray-4;
      }
    }
    &:last-child {
      width: 17px;
      .p-timeline-event-content {
        left: -67px;
        position: relative;
      }
    }
  }
  .p-timeline.p-timeline-horizontal .p-timeline-event-opposite, .p-timeline.p-timeline-horizontal .p-timeline-event-content {
    font-size: 12px;
    padding: 0;
    min-width: 85px;
    color: $color-gray-2;
  }
  p-timeline {
    width: 100%;
  }
  .p-timeline-event {
    min-height: 40px;
  }
  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background: rgba(0,0,0,.04);
  } 
  .p-button {
    padding: 10px;
    font-size: 12px;
  }
  .p-button.p-button-rounded {
    min-width: 120px;
  }
  .mat-expansion-panel-header {
    padding: 20px 20px 20px 10px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 0;
  }
  .mat-expansion-panel-header-title {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    span.name {
      font-weight: 500;
    }
  }
  .mat-expansion-panel-body {
    background-color: $color-gray-4;
    padding: 10px 0 0 0;
    border-top: thin $color-gray-3 solid;
    > div {
      width: 100%;
    }
  }
  mat-panel-description div {
    width: 100%;
  }
}