@import "src/styleguide/index";
.page-container {
  @include page-container;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px;
  background-color: $color-white;
}
:host {
  width: 100%;
}
img {
  height: 25px;
  width: 25px;
}
.btn-actions {
  cursor: pointer;
  height: 40px;
  background-color: $color-gray-3;
  border-top: thin $color-gray-3 solid;
  .pi {
    font-size: 1.1rem;
    color: $color-gray-1;
    &:hover {
      color: $color-black-0;
    }
  }
}
.collapsible {
  overflow: hidden;
  width: 100%;
  background-color: $color-gray-4;
}
.detail {
  width: 100%;
  padding: 0 5px;
  border-bottom: thin $color-gray-3 solid;
  &.active-row {
    background-color: $color-gray-3;  
  }
  div {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    height: 35px;
    font-size: 14px;
  }
  &:first-child {
    border-top: thin $color-gray-3 solid;
  }
  &:hover {
    background-color: $color-gray-4;
  }
}
.header {
  div {
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: $color-black-3;
  }
}
:host ::ng-deep {
  .mat-tab-body-content {
    padding-top: 10px;
  }
  .mat-tab-group {
    display: flex;
    flex-direction: column;
    padding: 0 15px 7px 15px;
    min-height: 193px;
    border-bottom: thin $color-gray-3 solid;
  }
}