@import "src/styleguide/index";
:host {
  padding-top: 10px;
}
.select-file {
  color: $color-gray-1;
  cursor: pointer;
  font-size: 14px;
}
.filename {
  color: $color-blue;
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
img.icon {
  cursor: pointer;
  height: 20px;
  width: 20px;
}
img.preview {
  cursor: pointer;
  width: auto;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
}