@import "src/styleguide/index";
div {
  background-color: $color-white-1;
  height: auto;
  min-height: 100%;
  max-height: 100%;
}
:host ::ng-deep {
  h2 {
    margin-top: 10px !important;
  }
  cma-on-boarding-type {
    display: flex;
    place-content: flex-start;
    align-items: flex-start;
  }
  cma-on-boarding-personal {
    display: flex;
    place-content: flex-start;
    align-items: center;
  }
  cma-on-boarding-for-approval {
    display: flex;
    place-content: center;
    align-items: center;
  }
  cma-on-boarding-for-approval {
    margin: 0 auto;
  }
  cma-stepper {
    margin-top: 25px;
  }
  cma-upload {
    min-width: 206px;
    max-width: 206px;
  }
  cma-input, cma-dropdown, cma-datepicker, cma-upload {
    margin-bottom: 15px;
  }
}
