@import "src/styleguide/index";

:host ::ng-deep {
  .dashboard-page-container {
    background-color: $color-white-1;
    height: auto;

    cma-dashboard-on-boarding {
      padding: 0 30px 30px 30px;
    }
  }
}
