@import "src/styleguide/index";
.pi-times {
  cursor: pointer;
}
.cma-dialog {
  height: 200px !important;
  padding: 20px;
  > div {
    &:first-child {
      width: 100%;
      min-height: 20px;
      height: 20px;
    }
  }
  .content {
    width: 100%;
    text-align: center;
    height: 65px;
    min-height: 65px;
  }
  .footer {
    height: 66px;
    min-height: 66px;
  }
  button {
    min-width: fit-content;
    width: fit-content !important;
  }
}
:host ::ng-deep {
  span.p-button-label {
    display: none;
  }
}
