@import "src/styleguide/index";
:host {
  width: 100%;
}
.panel-actions {
  width: 100%;
}
:host ::ng-deep {
  li.p-megamenu-root-list>.p-menuitem {
    background-color: $color-gray-3 !important;
  }
  .p-inputtext, .p-input-icon-left, .p-input-icon-right {
    width: 100%;
  }
  .p-multiselect {
    min-width: 300px;
  }
}