<div class="review-container" fxLayout="column" fxLayoutAlign="start center">
  <div class="content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <!-- personal information -->
    <div class="content-personal" fxLayout="column" fxLayoutAlign="start start">
      <h4>Personal Information</h4>
      <div class="w-100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
        <cma-input [form]="getPersonalForm" controlName="buildingNo" label="Building #" [value]="'Building #9'"></cma-input>
        <cma-input [form]="getPersonalForm" controlName="unitNo" label="Unit #" [value]="'Unit #9622'"></cma-input>
        <cma-input [form]="getPersonalForm" controlName="parkingSlot" label="Parking Slot #" [value]="'Parking Slot #01'"></cma-input>
        <cma-input [form]="getPersonalForm" controlName="occupantType" label="Occupant Type" [value]="'Unit Owner'"></cma-input>
      </div>

      <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start center" fxLayoutGap="15px">
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="lastname" label="Lastname"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="firstname" label="Firstname"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="middlename" label="Middlename"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="citizenship" label="Citizenship"></cma-input>
      </div>
      <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start center" fxLayoutGap="15px">
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="gender" label="Gender"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="civilStatus" label="Civil Status"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="dateOfBirth" label="Date of Birth"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="occupation" label="Occupation"></cma-input>
      </div>
      <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start center" fxLayoutGap="15px">
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="tin" label="TIN"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="busEmail" label="Bus. Email"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="busAddress" label="Bus. Address"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="busContactNo" label="Bus. Contact No."></cma-input>
      </div>
      <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start center" fxLayoutGap="15px">
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="idType" label="ID Type"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="idNo" label="ID No."></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPersonalForm" controlName="uploadedIdFile" label="Upload File"></cma-input>
      </div>
    </div>

    <!-- spouse information -->
    <div class="content-personal" fxLayout="column" fxLayoutAlign="start start">
      <h4>Spouse Information</h4>
      <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start center" fxLayoutGap="15px">
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="lastname" label="Lastname"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="firstname" label="Firstname"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="middlename" label="Middlename"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="citizenship" label="Citizenship"></cma-input>
      </div>
      <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start center" fxLayoutGap="15px">
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="gender" label="Gender"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="civilStatus" label="Civil Status"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="dateOfBirth" label="Date of Birth"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="occupation" label="Occupation"></cma-input>
      </div>
      <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start center" fxLayoutGap="15px">
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="tin" label="TIN"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="busEmail" label="Bus. Email"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="busAddress" label="Bus. Address"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="busContactNo" label="Bus. Contact No."></cma-input>
      </div>
      <div fxLayout="row wrap" class="w-100" fxLayoutAlign="start center" fxLayoutGap="15px">
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="idType" label="ID Type"></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="idNo" label="ID No."></cma-input>
        <cma-input [isReadOnly]="true" [form]="getPartnerForm" controlName="uploadedIdFile" label="Upload File"></cma-input>
      </div>
    </div>

    <!-- occupants -->
    <div [formGroup]="form" class="occupants-container">
      <ng-container *ngIf="hasOccupants">
        <h4>Occupants</h4>
        <div *ngFor="let occupant of getOccupants; let i = index" fxLayout="column">
          <ng-container formArrayName="occupants">
            <div fxFlex fxLayoutGap="20px" [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center">
              <cma-input [form]="occupant" [isReadOnly]="true" controlName="name" label="Name"></cma-input>
              <cma-input [form]="occupant" [isReadOnly]="true" controlName="relationship" label="Relationship"></cma-input>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- vehicles -->
    <div [formGroup]="form" class="vehicles-container">
      <ng-container *ngIf="hasVehicles">
        <h4>Vehicles</h4>
        <div *ngFor="let vehicle of getVehicles; let i = index" fxLayout="column">
          <ng-container formArrayName="vehicles">
            <div fxFlex fxLayoutGap="20px" [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center">
              <cma-input [form]="vehicle" [isReadOnly]="true" controlName="model" label="Model"></cma-input>
              <cma-input [form]="vehicle" [isReadOnly]="true" controlName="make" label="Make"></cma-input>
              <cma-input [form]="vehicle" [isReadOnly]="true" controlName="plateNo" label="Plate No."></cma-input>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- documents -->
    <div *ngIf="hasDocuments" class="documents-container">
      <h4>Documents</h4>
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">
        <div *ngFor="let docName of getDocuments" pTooltip="Download" class="document-thumb" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
          <i class="pi pi-file-pdf"></i>
          <span>{{ docName }}</span>
        </div>
      </div>
    </div>

    <div class="action-btns" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button pButton pRipple type="button" (click)="onPrev()" label="Previous" class="p-button-rounded default"></button>
      <button pButton pRipple type="button" (click)="onSubmit()" label="Submit" class="p-button-rounded success"></button>
    </div>
  </div>

</div>