<div class="upload-container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <h2>Upload Documents</h2>

  <div class="content" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="20px" >
      <div *ngFor="let document of uploadDocuments" class="upload-thumb">
        <div>
          <img [src]="svgPath + '24x24/upload.svg'" />
          <span>Drag file to upload</span>
        </div>
        <span>{{ document?.label }}</span>
      </div>
    </div>
  </div>

  <div class="action-btns" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <button pButton pRipple type="button" routerLink="/on-boarding/detail" label="Previous" class="p-button-rounded default"></button>
    <button pButton pRipple type="button" routerLink="/on-boarding/review" label="Next" class="p-button-rounded success"></button>
  </div>
</div>